<div style="width:60%; margin:0 auto;">
   	<div id="topbar1"> 
    <div id="item"><%= link_to "正在進行", "/reflashindex/index/9" %></div>
    <div id="item"><%= link_to "成功募集", "/reflashindex/index/10" %></div>
    <div id="item"><%= link_to "募集失敗", "/reflashindex/index/11" %></div>
<!--    <div id="item1"><%= link_to "【事求人】", project_askforhelpc_path%></div> -->
  </div>
  
	<div style="margin:0 auto; clear:both; border-top-style:dashed; border-width:1px; border-color:#838B8B; "></div>
	<div style="padding-top:20px;"></div>
  <div id="topbar2">  
    <div id="item"><%= link_to "設計商品", "/reflashindex/index/1" %></div>
    <div id="item"><%= link_to "音樂影視", "/reflashindex/index/2" %></div>
    <div id="item"><%= link_to "舞台演出", "/reflashindex/index/3" %></div>
    <div id="item"><%= link_to "休閒娛樂", "/reflashindex/index/4" %></div>
    <div id="item"><%= link_to "創作出版", "/reflashindex/index/5" %></div>
    <div id="item"><%= link_to "社會文化", "/reflashindex/index/6" %></div>
    <div id="item"><%= link_to "科技應用", "/reflashindex/index/7" %></div>
    <div id="item"><%= link_to "美食饗宴", "/reflashindex/index/8" %></div>
	</div>
</div>
