<div style="width:60%; margin:0 auto;">
  <div id="topbar2" style="vertical-align:middle ; padding-right: 13px;">  
    <div id="item"><%= link_to "設計商品", "/ideaindex/index/1" %></div>
    <div id="item"><%= link_to "音樂影視", "/ideaindex/index/2" %></div>
    <div id="item"><%= link_to "舞台演出", "/ideaindex/index/3" %></div>
    <div id="item"><%= link_to "休閒娛樂", "/ideaindex/index/4" %></div>
    <div id="item"><%= link_to "創作出版", "/ideaindex/index/5" %></div>
    <div id="item"><%= link_to "社會文化", "/ideaindex/index/6" %></div>
    <div id="item"><%= link_to "科技應用", "/ideaindex/index/7" %></div>
    <div id="item"><%= link_to "美食饗宴", "/ideaindex/index/8" %></div>
	</div>
</div>
